body {
	background-color:
		/**
		#aec7cf;
		/*/
		#ebf0f2;
		/**/
	font-family: Calibri, sans-serif;
	margin: 0;
}

.conteudo {
	margin-left: 10%;
	margin-right: 10%;
}

nav {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #14018c;
	padding: 10px 5%;
}

nav .botoes {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

form {
	display: inline-flex;
	margin: 0px;
	padding: 0px;
}

.item-nav {
	margin-right: 5px;
	height: 30px;
	width: 100px;
}

.botao-nav {
	background-color: #0082ba;
	color: #e6e6e6;
	/*border-radius: 10px;*/
	border-width: 0px;
	margin-top: 10px;
	margin-bottom: 10px;

}
.botao-nav:hover {
	cursor: pointer;
	background-color: #e6e6e6;
	color: #0082ba;
}
/* div */
#pesquisa {
	display: inline;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* caixa de texto */
[name = pesquisa] {
	border-width: 0px;
	width: 150px;
	height: 28px
}

#sugestoes {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sugestao {
	width: 20%;
	min-width: 220px;
	margin: 5px;
	padding: 0px 10px;
	background-color: #aec7cf;
}

.sugestao img {
	display: block;
	margin: auto;
}

.sugestao p, h3 {
	margin-left: 5%;
}